* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navBar {
  background-color: #0c0304;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}
.navlinks {
  display: flex;
  list-style: none;
}
a {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  color: aliceblue;
  padding: 10px;
  text-decoration: none;
  margin: 15px;
}
.logo {
  height: 150px;
  filter: brightness(100%);
}
.nombre {
  font-family: "Kanit", sans-serif;
  color: aliceblue;
}
.isologo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
